*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  max-width: 160px;
}

header {
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  max-width: 1000px;
}

form {
  width: 400px;
}

form > input {
  display: block;
  font-size: 14px;
  height: 40px;
  margin: 0 0 10px 0;
  text-indent: 2ch;
  width: 100%;
}

form > button {
  background: #27ae60;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 40px; 
  width: 100%;
}

table {
  margin: 0 0 0 40px;
  padding: 10px;
  text-align: center;
  width: 600px;
}

table td {
  border: none;
}

table > thead th {
  border: none;
}

table th {
  border: none;
  font-size: 18px;
}